* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: space-between;
  padding: 20px 55px;
  align-items: center;
  background-color: #1e2d66;
  flex-wrap: wrap;
}
header > span {
  color: #ffffff;
  font-size: 21px;
}
nav {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
}
i {
  font-size: 18px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 15px;
}
header:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 54px;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 40px;
}
li {
  list-style: none;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #707070;
}
.sectionImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionImg > img {
  width: 100%;
  height: 260px;
}
.sectionImg > span {
  position: absolute;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}
.section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  padding-left: 180px;
  column-gap: 150px;

  flex-wrap: wrap;
  row-gap: 20px;
}
.section-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-column > i {
  font-size: 20px;
  color: #4287ff;
  padding: 0px;
}
.section-column > span:first-of-type {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}
.section-column > span:last-of-type {
  font-size: 14px;
  color: #5a5a5a;
}
.sectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  padding: 80px 180px 0px 180px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  width: 100%;
}
.groub-row {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  flex-wrap: wrap;
  row-gap: 15px;
}
input {
  display: flex;
  flex: 1;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 0.3em;
  color: #1e2d66;
  background-color: #ebebeb;
  padding-left: 19px;
}
input::placeholder,
textarea::placeholder {
  color: #1e2d66;
}
textarea {
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #ebebeb;
  padding-left: 12px;
  padding-top: 34px;
  font-size: 0.3em;
  color: #1e2d66;
  resize: none;
  min-width: 160px;
}
.sectionForm > form > button {
  background-color: #1e2d66;
  border-radius: 7px;
  border: none;
  width: 25%;
  margin-left: 40%;
  height: 72px;
  font-size: 0.5em;
  color: #ffffff;
}
footer {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  padding: 20px;
  background-color: #1e2d66;
}
@media only screen and (max-width: 900px) {
  header > span {
    font-size: 15px;
  }
  i {
    font-size: 11px;
  }
  a {
    font-size: 15px;
  }
  .sectionImg > span {
    font-size: 25px;
  }
  .section-row {
    padding-top: 60px;
    padding-left: 80px;
  }
  .sectionForm {
    font-size: 50px;
    padding: 80px 80px 0px 80px;
  }
  .sectionForm > form > button {
    font-size: 18px;
  }
  footer {
    font-size: 15px;
  }
}
